:root {
    color-scheme: dark;
}

/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5rem;
    padding: 2rem 1rem;
    background-color: #272727;
    /*f8f9fa*/
    z-index: 1050;
    transition: width 0.1s ease-in-out;
    color: azure;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
    width: 16rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.toggle {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: azure;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    cursor: pointer;
}

/* fix the width of the icons */
.toggle i {
    width: 1rem;
}

/* hide the navlink labels by default */
.toggle span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .toggle span {
    visibility: visible;
    opacity: 1;
}

/* container for the sidebar header. make sure the contents don't wrap when
   * the sidebar is collapsed.
   */
.sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    color: azure;
}

/* position the header relative to the logo and hide by default */
.sidebar-header h2 {
    color: azure;
    opacity: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    transition: opacity 0.1s ease-in-out;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header h2 {
    opacity: 1;
}

/* position the content relative to the collapsed sidebar */
.content {
    margin-left: 7rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.fa-chevron-right {
    transition: transform 0.2s ease-in-out 0s;
}

/* rotate the chevron when the open class is applied */
li.open .fa-chevron-right {
    overflow: hidden;
    white-space: nowrap;
    transform: rotate(90deg);
}

.nav li {
    font-size: 18px;
}

.nav li .row {
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    font-size: 18px;
}

.submenu-collapse {
    width: 3rem;
    max-height: 40vh;
    overflow-y: hidden;
    transition: width 0.1s ease-in-out;
}

.submenu-label {
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5rem 0rem 0.5rem 1rem;
}

.submenu-label .hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.sidebar:hover .submenu-label .hidden {
    visibility: visible;
    opacity: 1;
}

.sidebar:hover .submenu-collapse {
    width: 14rem;
    overflow: auto;
}

.rc-slider-track {
    background-color: azure;
}

.rc-slider-dot-active {
    border-color: rgb(238, 105, 11);
    border: solid 2px rgb(238, 105, 11);
}

.rc-slider-handle {
    background-color: rgb(238, 105, 11);
    border-color: rgb(238, 105, 11);
}

.rc-slider-handle:hover {
    border-color: rgb(238, 105, 11);
}

.rc-slider-handle-active:active {
    border-color: rgb(238, 105, 11);
}

.percentage-slider {
    visibility: hidden;
    padding: 1rem 0 0 0;
    margin-top: 1rem;
    color: rgb(238, 105, 11);
}

.sidebar:hover .percentage-slider {
    visibility: visible;
}

.spacer {
    border-top: 1px solid #ccc;
    margin: 1rem 1rem 1rem 0rem;
    padding: 0;
    width: 3rem;
}

.sidebar:hover .spacer {
    width: 14rem;
}

.floating-controls {
    width: 100vw;
    position: absolute;
    bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button {
    width: 5rem;
    height: 5rem;
    background-color: rgb(238, 105, 11);
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-button:disabled {
    background-color: #272727;
}

.big-button {
    width: 7rem;
    height: 7rem;
}

.round-button-icon {
    margin: 0;
    color: azure;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-input:focus {
    border-color: rgb(238, 105, 11);
    box-shadow: 0rem 0rem 0rem 0.25rem rgba(238, 105, 11, 0.35);
}

.toast {
    width: 10vw;
    position: absolute;
    top: 3vh;
    left: 45vw;
}

.logbar {
    position: fixed;
    color: azure;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 70vh;
    width: 20rem;
    padding: 2rem 1rem;
    background-color: #272727;
    /*f8f9fa*/
    z-index: 1050;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
}

.logbar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    color: azure;
}

.logbar-header h2 {
    color: azure;
    margin-left: 1rem;
    margin-bottom: 0;
}

.file-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    background-color: #353535;
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    cursor: pointer;
}

.file-icon {
    font-size: 2rem;
    margin: 10px;
}

.file-text {
    font-size: 1.2rem;
    margin-left: 10px;
}