<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <div id="plot"></div>

    <script>
        // Parse the initial_plot data passed from Flask
        var initialPlot = JSON.parse('{{ initial_plot|safe }}');

        // Create the initial plot
        Plotly.newPlot('plot', initialPlot.data, initialPlot.layout);

        // Wait for 2 seconds, then update the color
        setTimeout(function () {
            // Replace this with your desired color sequence
            var newColorSequence = Array(100).fill('blue');

            // Update the color of the points
            Plotly.update('plot', { 'marker.color': [newColorSequence] });
        }, 2000);
    </script>

</body>

</html>